<template name="list">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each requests}}
      <div id="{{_id}}" class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-{{_id}}">
          <div class="row">
            <div class="col-xs-6">
                <div class="status {{status}}">
                  &nbsp;
                </div>
              <span class="panel-title">
                <a role="button" title="{{title}}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                  {{prettyTitle title}}
                </a>
             </span>
         </div>
         <div clas="col-xs-6">
                <span class="pull-right">
                    <span class="time-text"><strong>{{sinceDate created}} &nbsp;&nbsp;</strong></span>
                    <div class="list-button-box">
                        <a class="" role="button" href="/request/{{_id}}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                        <i class="fa fa-trash-o fa-2x remove"></i>
                    </div>
                </span>
            </div>
          </div>
        </div>
        <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{_id}}">
          <div class="panel-body">
            {{description}}
          </div>
        </div>
      </div>
      {{/each}}
      </div>
    </div>
  </div></div>
</template>
