
<template name="register">
    <div class="container content-container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Register Request</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="new-request">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" id="title" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>
