<template name="request">
    <div class="container content-container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Edit Request</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="edit-request">
                        <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="status">Status</label>
                            <select id="status" class="form-control">
                              <option value="open" selected="{{statusSelected 'open'}}">Open</option>
                              <option value="assigned" selected="{{statusSelected 'closed'}}">Assigned</option>
                              <option value="closed" selected="{{statusSelected 'assigned'}}">Closed</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" id="title" value="{{title}}"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="5">{{description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>
