@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin status-indicator($color){
  background-color: $color;
  width: 20px;
  height: 20px;
  @include border-radius(10px);
  box-shadow: 1px 1px 5px #888888;
}
