/* CSS declarations go here */

@import "_mixins.scss";

$background-color: #99B2B7;
$text-color: #033649;
$navbar-color: #f8f8f8;
$brand-color: #033649;
$dark-foreground-color: #ddd;
$light-foreground-color: #f2f2f2;

body{
  background-color: $background-color;
}


.navbar-default{
    @include border-radius(0px);
    background-color: $navbar-color;
    border: 0px;
    border-bottom: 1px solid gray;
    box-shadow: 4px 4px 4px #888888;
    min-height: 75px;
    padding-top: 10px;
    .navbar-brand{
        color: $brand-color;
        font-size: 30px;
    }

    .navbar-nav{
        li{
            font-weight: bold;

            a{
                color: $text-color;
            }
        }
    }

}

.panel-group .panel {
    @include border-radius(0px);
    box-shadow: 2px 2px 2px #888888;
    border: 0px
}

.panel-default > .panel-heading{
    @include border-radius(0px);
    background-color: $dark-foreground-color;
    color: $text-color;
    padding-top: 10px;
    padding-bottom: 0px;
}

.panel-title{
    font-size: 14px;
    font-weight: bold;
}

.panel-body{
    background-color: $light-foreground-color;
}

.content-container{
  padding-bottom: 10px;
  background-color: $light-foreground-color;
  color: $text-color;
}

.list-button-box{
    display: inline;
    position: relative;
    bottom: 4px;
    padding-right: 5px;
    .fa-pencil-square-o{
        position: relative;
        bottom:-2px;
    }
    a{
        color: $text-color;
    }
}

//buttons

.list-button-box{
    a{
        font-weight: bold;
    }
}

.time-text{
    bottom: 7px;
    position: relative;
}

//Request status-indicator
.status{
  float: left;
  margin-right: 10px
}
.open{
  @include status-indicator(#149610);
}
.assigned{
  @include status-indicator(#F7DB07);
}
.closed{
  @include status-indicator(#DB201D);
}
